.register {
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
      rgba(124, 115, 115, 0.5),
      rgba(124, 115, 115, 0.5)
    ),
    url('https://scontent.fevn6-1.fna.fbcdn.net/v/t1.6435-9/161460558_1190323084722118_1530405038669508199_n.jpg?_nc_cat=103&ccb=1-3&_nc_sid=e3f864&_nc_ohc=vFDNlAfmd-oAX-Noa9E&_nc_ht=scontent.fevn6-1.fna&oh=d25be23694123a984c2006967b4c59bf&oe=612366C5');
  background-size: cover;
}
.registerTitle {
  font-size: 50px;
}
.registerForm {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.registerForm > label {
  margin: 10px 0;
}

.registerInput {
  padding: 10px;
  background-color: white;
  border: none;
}

.registerButton {
  margin-top: 20px;
  background-color: teal;
  cursor: pointer;
  border: none;
  color: white;
  border-radius: 10px;
  padding: 9px;
}

.registerLoginButton {
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: lightcoral;
  cursor: pointer;
  border: none;
  padding: 10px;
  color: white;
  border-radius: 10px;
}
